<app-navbar></app-navbar>
<div class="profile">
  <div class="user-info">
    <mat-card-title class="profile-titles">User Info</mat-card-title>
    <mat-card>
      <mat-card-content>
        <p>Username: {{user.Username}}</p>
        <p>Email: {{user.Email}}</p>
        <p>Birthday: {{user.Birthday | date }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="openEditUserDialog(user)">
          Edit User Info
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteUser()">
          Delete User
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="user-favorites">
    <mat-card-title class="profile-titles">Favorite Movies</mat-card-title>
    <div class="favorite-cards">
      <mat-card *ngFor="let favoriteMovie of favoriteMovies;" class="favorites">
        <mat-card-header>
          <mat-card-title>{{favoriteMovie.Title}}</mat-card-title>
              <mat-card-subtitle>Directed by: {{favoriteMovie.Director.Name}}</mat-card-subtitle>
          </mat-card-header>
          <img src={{favoriteMovie.ImageURL}} alt={{favoriteMovie.Title}} width="250px"/>
          <mat-card-content>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteMovieFromFavorites(favoriteMovie._id)"
            >
              Remove from List 
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

